<!DOCTYPE html>
<html>
<!-- TODO: This is taken directly from class-13 demo with only minor edits.  Credit or re-write -->

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <%- include('../layout/header') %>
  <main>
    <h2><%= header %></h2>
    <p><%= error %></p>
  </main>
</body>

</html>