*{
    box-sizing: border-box;
    /* padding: 15px; */
    margin: 15px;
}

header{
    background-color: rgb(93, 112, 76);
    text-align: center;
    color: antiquewhite;
    width: 100%;
    margin: 0px;
    padding: 30px; 
    /* align-content: center;
    align-items: center; */
}
nav:{
    color:black;
    background-color: aliceblue;
    width: 500px;
    height: auto;
    align-content: center;
    flex-grow: 3;
}

html{
    background-color: rgb(180, 194, 173);
    /* margin: 15px; */
}
body{
    background-color: antiquewhite;   
}

main{
    height: auto;
    width: auto;
    flex-grow: 2;
    
}
.book_card{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
footer{
    background-color: rgb(93, 112, 76);
    text-align: center;
    color: antiquewhite;
    width: 100%;
    margin: 0px;
    padding: 30px; 
}